.env
rl_data/

venv
.venv

pycache__
*.pyc
.DS_Store
.idea
.vscode
*.log

.build
dist
*.egg-info
__pypackages__
.envrc
.ipynb_checkpoints
.mypy_cache
.pytest_cache
.tox
.coverage
htmlcov
.nox
.cache
.pyre
.pytype
celerybeat-schedule
instance
.webassets-cache
.scrapy